/*mobile css*/
html,
body {
    padding: 0px;
    margin: 0px;
    height: 100vh;
    width: 100vw;
    font-family: 'Cinzel', serif;
    background-image: url('./assets/sfondo.jpg');
    background-size:cover;
}

.nav-menu {
    background-image: linear-gradient(90deg, #5a0d0f, #ce1016);
    ;
}

/* .nav-menu img{
    filter: brightness(0) invert(1);
} */

.mobile-menu-btn {
    background: transparent;
    border: none;
    padding: 8px;
}

.mobile-menu {
    position: absolute;
    overflow: auto;
    background-color: #e7e7db;

}




/*mobile events style*/
#mobile-menu-container {
    display: none;
    background-color: transparent;
    width: 100%;
    height: 100%;
}


/*page with information*/
.navigation-bar{
    padding: 4px;
    margin-top: 8px;
}

.nav-bar-btn{
    border: solid black 1px;
    padding: 4px;
}

.mobile-search-btn {
    background: transparent;
    border: none;
    padding: 8px;
    float: right;
}

.information-container {
    margin-top: 8px;
}

.info-card {
    margin: 20px;
    -webkit-border-radius: 60px;
border-radius: 16px;
background: #ffffff;
-webkit-box-shadow: 9px 9px 18px #dbdbdb, -9px -9px 18px #ffffff;
box-shadow: 9px 9px 18px #dbdbdb, -9px -9px 18px #ffffff;
}

.races-png{
  width: 100%;
}

.logo-png{
  width: 150px;
  z-index: 10;
}

.name-card{
    display: inline-block;
    padding: 16px;
    font-size: larger;
}

.info-card button{
    display: flex;
    align-items: center;
    float: right;
    margin-top: 18px;
    margin-right: 10px;
    border: none;
    background:transparent;
    font-family: 'Cinzel', serif;
    color: #ce1016;
    font-size: small;
}

.desc-container{
    background: #ff000027;
    font-size: small;
    padding: 16px;
    border-radius: 0px 0px 16px 16px;
}